  .body{
    height: auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    top: 0;
    flex-direction: column;
    background: linear-gradient(90deg, #00d9ff 0%, #0019fd 50%, #00d9ff 100%);
}