  .body{
    height: auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    top: 0;
    flex-direction: column;
    background: linear-gradient(90deg, #00e1ff 0%, #0019fd 50%, #00e1ff 100%);
}