.encabezado {
    width: 100%;
    top: 0;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #0000005e 0%, #000000ba 50%, #0000005e 100%);
}

.menu ul{
    margin-right: 60px;
    list-style: none;
    display: flex;
    font-size: 23px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 25px;
}
.menu li {
    background: rgba(255, 255, 255, 0.108);
    border-radius: 35px;
    padding: 20px;
    width: 170px;
    color: whitesmoke;
    text-align: center;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.menu li:hover{
    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.216);
    border-color: rgba(38, 197, 218, 0.84);
    box-shadow: 0 0px 80px rgb(0, 171, 193);
}