.formulario-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.form-card {
    background: #ffffff;
    padding: 2.5rem;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.form-card h2 {
    color: #2e7d32;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.75rem;
}

.input-group {
    margin-bottom: 1.2rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
    font-weight: 500;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1.5rem;
    transition: border-color 0.3s;
    box-sizing: border-box; /* Importante para el padding */
}

.input-group input:focus {
    border-color: #66bb6a;
    outline: none;
}

.options-group {
    margin-bottom: 1.5rem;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
    color: #666;
    cursor: pointer;
}

.button-group {
    display: flex;
    gap: 10px;
}

.btn-primary {
    flex: 2;
    background-color: #2e7d32;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-primary:hover {
    background-color: #0aff1b;
}

.btn-secondary {
    flex: 1;
    background-color: #f5f5f5;
    color: #666;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-secondary:hover {
    background-color: #eeeeee;
    color: #333;
}